docs/case-studies/issue-1645/logs/*.log -diff
docs/case-studies/issue-1823/logs/*.log -diff
docs/case-studies/issue-1823/logs/*.log.gz -diff
docs/case-studies/issue-1935/data/*.log.gz -diff
docs/case-studies/issue-2080/raw/*.log.txt -diff
dev/log/issues/2082/pulls/2083/ci-logs/*.log.gz -diff
dev/log/issues/2082/pulls/2083/analysis/*.log.txt -diff
